@font-face {
    font-family: "Tmoney";
    src: url('../fonts.assets/TmoneyRoundWindRegular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Baloo 2', 'Tmoney' ;
}

.video-tap {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 320px; height: 568px;
}

.top-tap {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0,0,0,25%);
}
.top-tap p {
    font-size: 16px;
    font-weight: 700;
    color: #7E6AFB;
}
.top-tap img {
    width: 30px; height: 30px;
}

.search
