* { box-sizing: border-box;     margin: 0;
    font-family: 'Baloo 2', cursive;
}
.loading-page {
    background-color: #7E6AFB;
    width: 320px; height: 568px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
img {
    width: 120px; height: 120px;
    display: block;    margin-bottom: 5px;
}
h1 {
    font-size: 22px;
    letter-spacing: 0.2em;
    font-weight: 500;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.5);
}
div::after {
    content: 'hozinyu.corp';
    display: block;
    position: relative;
    bottom: -30%;
    letter-spacing: 3px;
    font-size: 12px;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}